.favoriteEmpty {
  margin: 0 auto;
  width: 400px;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px;
}

.header {
  color: red;
  text-align: center;
}

.title {
  font-weight: 500;
  color: white;
}
