.navbar {
  background-color: black;
  font-size: 2em;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: blueviolet;
  padding: 10px 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbarBrand {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}
.spanContainer {
  border: 1px solid black;
  font-size: 16px;
  padding: 5px;
  display: flex;
  gap: 15px;
}

.link {
  cursor: pointer;
  color: blueviolet;
  font-weight: bold;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: blueviolet;
}
